
table{
	background-color: rgba(125, 255, 0, 0.5);
}
/*linhas da tabela*/
table, tr, th, td{
	border : 1px solid black;
}

body{
	background-color: rgba(255, 125, 0, 0.5);
}

h1{
	background-color: rgba(255, 0, 0, 0.5);
}

h2{
	background-color: rgba(0, 255, 0, 0.5);
}

p{
	background-color: rgba(0, 0, 0, 0.1);
}

a{
	background-color: rgba(0, 0, 255, 0.5);
}