

body{
	background-color: rgba(255, 125, 0, 0.5);
}

h1{
	color : white;
	background-color: rgba(255, 0, 0, 0.5);
}

h2{
	color : blue;
	background-color: rgba(0, 255, 0, 0.5);
}

p{
	color : cyan;
	background-color: rgba(0, 0, 0, 0.1);
}

a{
	color : black;
	background-color: rgba(0, 0, 255, 0.5);
}